<nav class="navbar navbar-expand-lg shadow sticky-top">
  <a class="navbar-brand logo p-2" routerLink="/">BhinJ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="fa fa-bars fa-lg text-white"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <span class="vertical-line d-none d-lg-block"  *ngIf="username"></span>
      <li class="nav-item dropdown" *ngIf="username">
        <a class="nav-link user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
         <img class="rounded-circle" src={{user.profileImage}} *ngIf="user" height="40" width="40">
         <span *ngIf="username"> {{username}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow">
          <a class="dropdown-item" routerLink="/profile" *ngIf="user">Profile</a>
          <a class="dropdown-item" (click)="logout()" *ngIf="user">Logout</a>
        </div>
      </li>
      <li class="nav-item mr-3" *ngIf="!username">
        <a class="nav-link border" routerLink="/login" >Login</a>
      </li>
      <li class="nav-item" *ngIf="!username">
        <a class="nav-link border" routerLink="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>