.logo{
    color:white;
    font-family: cursive;
    font-weight: bold;
}

.logo::before{
    content: '| ';
}

.logo::after{
    content: ' |';
}

.nav-link{
    border: 1px white solid;
    border-radius: 10px;
    color: white;
}