<nav class="navbar navbar-expand-lg shadow sticky-top">
  <a class="navbar-brand logo p-2" routerLink="/">BhinJ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" *ngIf="username">
        <a class="nav-link border-0 text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
         <img class="rounded-circle" src={{user.profileImage}} *ngIf="user.profileImage" height="40" width="40">
         <span *ngIf="username && !user.profileImage">{{username}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow">
          <a class="dropdown-item" routerLink="/profile" *ngIf="user">Profile</a>
          <a class="dropdown-item" (click)="logout()" *ngIf="user">Logout</a>
        </div>
      </li>
      <li class="nav-item mr-3" *ngIf="!username">
        <a class="nav-link" routerLink="/login" >Login</a>
      </li>
      <li class="nav-item" *ngIf="!username">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>