<nav class="navbar navbar-expand-lg shadow sticky-top">
  <a class="navbar-brand logo p-2" routerLink="/">BhinJ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="btn btn-warning shadow font-weight-bold nav-item ml-3" routerLink="/login" *ngIf="!user" >Login</a>
      <a class="btn btn-warning shadow font-weight-bold nav-item ml-3" routerLink="/signup" *ngIf="!user">Signup</a>
      <a class="btn btn-warning shadow font-weight-bold nav-item ml-3" (click)="logout()" *ngIf="user">Logout</a>
    </div>
  </div>
</nav>