.wrapper{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
width: 450px;
}

.card-header{
    background-color:rgb(14, 47, 67,0.9);
}

.logo{
    color: white;
    font-family: cursive;
    font-weight: bold;
}

.logo::before{
    content: '| ';
}

.logo::after{
    content: ' |';
}
