.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.card{
    overflow-x: scroll;
}

.nav-link{
    color: white;
    width: 100%;
}


td, th{
    padding: 20px;
}

#todo{
    width: 40%;
} 
