.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card{
    overflow-x: scroll;
}


td, th{
    padding: 20px;
}

#todo{
    width: 40%;
} 

.wrapper{
    background-color: #5bc0de
}
